
vehicledealers-dotnetcore/.vs/VehiclesDealerApi/v16/Server/sqlite3/storage.ide
vehicledealers-dotnetcore/.vs/VehiclesDealerApi/v16/.suo
vehicledealers-dotnetcore/.vs/VehiclesDealerApi/DesignTimeBuild/.dtbcache
